:root {
    --mblack: #0d0d14;
    --mgray: #52263e;
    --mwhite: #ac3232;
}

body,
html {
    margin: 0;
}

body {
    background-color: var(--mblack);
    color: var(--mwhite);
    font-family: "Courier New", "Courier", monospace;
    font-size: 20px;
}

h1 {
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    flex-direction: column;
}

#milkCanvas {
    appearance: none;
    border: 2px solid var(--mgray);
    max-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    image-rendering: pixelated;
}

button,
input[type="button"],
.file-label {
    border: none;
    background-color: var(--mblack);
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 4px;
}

button:enabled:hover,
input[type="button"]:enabled:hover,
.file-label:hover {
    background-color: var(--mgray);
    color: var(--mblack);
}

button:enabled:active,
input[type="button"]:enabled:active,
.file-label:active {
    background-color: var(--mwhite);
    color: var(--mblack);
}

button:disabled,
input[type="button"]:disabled {
    color: var(--mgray);
}

input {
    font-family: inherit;
}

input[type="file"] {
    display: none;
}


input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: var(--mgray);
    outline: none;
}


input[type="range"]::-webkit-slider-thumb {
    outline: none;
    border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 15px;
    background: var(--mwhite);
    border: 0;
}

input[type="range"]::-moz-range-thumb {
    border: 0;
    outline: none;
    border-radius: 0px;
    width: 10px;
    height: 15px;
    background: var(--mwhite);
}

input[type="range"]::-moz-range-progress {
    height: 10px;
    background: var(--mwhite);
}

input[type="checkbox"] {
    appearance: none;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    border: 2px solid var(--mgray);
    background: var(--mblack);
    user-select: none;
}

input[type="checkbox"]:checked {
    border: 2px solid var(--mwhite);
    background: var(--mgray);
}

select {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    min-width: 250px;
    border: 2px solid var(--mgray);
}

hr {
    appearance: none;
    border: none;
    height: 2px;
    background-color: var(--mgray);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline var(--mgray);
}

footer {
    color: var(--mgray)
}